@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section-container {
  height: 1020px; 
}

@media (max-width: 1024px) {
  .hero-section-container {
    height: 2764px; 
  }
}


.no-selec {
  user-select: none;
  pointer-events: auto;
}

.swiper-pagination-bullet-custom {
  background-color: var(--tw-color-customBrown);
}

.swiper-pagination-bullet-custom.swiper-pagination-bullet-active {
  background-color: var(--tw-color-customBrown);
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}